.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.darkTheme {
    background: dimgrey;
    color: aliceblue;
}

/*.dark-text {*/
/*   */
/*}*/

.redTheme {
    background: lightcoral;
    color: aqua;
}

/*.red-text {*/
/*    */
/*}*/

.someTheme {
    background: lightgreen;
    color: darkslateblue;
}
.bubbleGumTheme{
    background: #ffc6ff;
    color: #7209b7;
}
.neutralTheme{
    background: #fff1e6;
    color: #6b705c;
}

/*.some-text {*/
/*    */
/*}*/