.emptyPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 36px;
    font-weight: bold;
    color: lightslategrey;
}
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 36px;
    font-weight: bold;
    font-weight: bold;
    background-color: rgba(255, 105, 180, 0.4);
    color: lightslategrey;
}
.number404{
    font-size: 56px;
}
.prejuniorPage{
    padding: 0 50px;
}
.junior{
    padding: 15px 30px;
}