.messageWrapper{
    display: flex;
    background-color: #8da9c2;
    padding: 50px;
    /*gap: 20px;*/
    align-items: flex-end;
}

.messageWrapper img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.message {
    width: 250px;
    background-color: rgba(0, 139, 139, 0.5);
    padding: 10px 20px;
    border-radius: 10px 10px 10px 0px;
    color: white;
    position:relative;
}
.angle {
    height: 20px;
    width: 20px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 20px, rgba(0, 139, 139, 0.5) 0);
}
/*.message:before{*/
/*    position:absolute;*/
/*    content:"";*/
/*    left:-14px;*/
/*    bottom:10px;*/
/*    transform: scaleY(0.5) rotate(45deg);*/
/*    width:30px;*/
/*    height:30px;*/
/*    background-color: rgb(0, 139, 139);*/
/*}*/
.name {
    color: #bcb0d9;
}
.time{
    color: aquamarine;
    text-align: right;
    font-size: 14px;
}


