.affairs{
    display: flex;
    gap: 8px;
    justify-content: space-around;
    width: 500px;
}
.affair {
    border: 1px solid hotpink;
    border-radius: 8px;
    padding: 5px;
    width: 200px;
    /*text-align: center;*/
    margin-bottom: 10px;
}
.affair:hover{
    background-color: hotpink;
}

.deleteBtn {
    margin-bottom: 10px;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #ec4d4d;
    color: white;
    cursor: pointer;
}
.filterBtn {
    margin: 0 5px;
    padding: 5px;
    border: none;
    width: 70px;
    border-radius: 5px;
    background-color: #8da9c2;
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
.activeBtn {
    background: hotpink;
}
.priority{
    display: flex;
    align-self: center;
    font-size: 15px;
    width: 100px;
    text-align: center;
}
.low {
    color: limegreen;
}
.middle {
    color: orange;
}
.high {
    color: red;
}